FQDNLookup   true
BaseDir     "/var/lib/collectd"
PIDFile     "/var/run/collectd.pid"
PluginDir   "/usr/lib/collectd"
TypesDB     "/usr/share/collectd/types.db"
Interval     10
Timeout      2
ReadThreads  5
WriteThreads 5
LoadPlugin logfile
<Plugin "logfile">
	LogLevel "info"
	File "/var/log/collectd.log"
	Timestamp true
</Plugin>
LoadPlugin aggregation
<Plugin aggregation>
    <Aggregation>
        Plugin "cpu"
        Type "cpu"
        GroupBy "Host"
        GroupBy "TypeInstance"
        CalculateSum true
        CalculateAverage true
    </Aggregation>
</Plugin>

# Collect CPU statistics
LoadPlugin cpu

# Write collected statistics in CSV format
LoadPlugin csv
<Plugin csv>
    DataDir "/var/lib/collectd/csv"
    StoreRates false
</Plugin>

# Collect partition usage statistics
LoadPlugin df
<Plugin df>
    Device "/dev/xvda1"
    MountPoint "/media/atl"
    IgnoreSelected false
    ReportByDevice false
    ReportReserved false
    ReportInodes false
    ValuesAbsolute true
    ValuesPercentage false
</Plugin>

# Collect disk IO statistics
LoadPlugin disk
<Plugin disk>
    Disk "/^[hs]d[a-f][0-9]?$/"
    IgnoreSelected false
</Plugin>

# Collect network interface usage statistics
LoadPlugin interface
<Plugin interface>
    Interface "eth0"
    IgnoreSelected false
</Plugin>

# Collect system load statistics
LoadPlugin load

# Collect memory utilization statistics
LoadPlugin memory
<Plugin memory>
    # Don't use absolute as each AWS ec2 instance is different, use percentage instead to get a uniform view
    ValuesAbsolute false
    ValuesPercentage true
</Plugin>

LoadPlugin swap
<Plugin "swap">
    ReportByDevice false
    ReportBytes true
</Plugin>

LoadPlugin java
<Plugin java>
    JVMArg "-verbose:jni"
    JVMArg "-Djava.class.path=/usr/share/collectd/java/jaxb-api-2.3.1.jar:/usr/share/collectd/java/applicationinsights-collectd-{{ app_insights_version }}.jar:/usr/share/collectd/java/collectd-api.jar:/usr/share/collectd/java/generic-jmx.jar"

	# Enabling Application Insights plugin
   LoadPlugin "com.microsoft.applicationinsights.collectd.ApplicationInsightsWriter"
   
   # Configuring Application Insights plugin
   <Plugin ApplicationInsightsWriter>
      InstrumentationKey "{{ app_insights_instrumentation_key }}"
      SDKLogger true
   </Plugin>

</Plugin>

Include "/etc/collectd.d"
